<%@include file="base/header.jsp"  %> 

<body>
	<%@include file="base/top_menu.jsp"  %> 

	<div class="container-fluid">
		<div class="row">
			<jsp:include page="base/left_menu.jsp" flush="true"></jsp:include>
			
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div class="table-responsive">
					<h1 class="page-header">Ingresar Cargo</h1>
				
					<form class="form-signin" action="ingresarCargo">
						<label for="input_nombre_cargo" class="sr-only">nombre_cargo</label>
						<input name="nombre_cargo" type="text" id="input_nombre_cargo" class="form-control" placeholder="nombre_cargo" required autofocus="">
						<label for="input_sueldo_min" class="sr-only">sueldo_min</label>
						<input name="sueldo_min" type="text" id="input_sueldo_min" class="form-control" placeholder="sueldo_min"  required autofocus="">
						<label for="input_sueldo_max" class="sr-only">sueldo_max</label>
						<input name="sueldo_max" type="text" id="input_sueldo_max" class="form-control" placeholder="sueldo_max"  autofocus="">
						<button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
				      </form>
				    	<c:if test="${not empty msj}">
						    <div class="alert alert-info"> ${msj} </div>
						</c:if>
				</div>
			</div>
		</div>
	</div>
	<style>
		.table-responsive{
			width:50%;
			margin: 0 auto;
		}
		.table-responsive form input{
			margin-bottom:5px;
		}
	</style>
	<jsp:include page="base/footer.jsp" flush="true"></jsp:include>
</body>
</html>