<%@include file="base/header.jsp"  %> 

<body>
	<%@include file="base/top_menu.jsp"  %> 

	<div class="container-fluid">
		<div class="row">
			<jsp:include page="base/left_menu.jsp" flush="true"></jsp:include>
			
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div class="table-responsive">
					<h1 class="page-header">Ingresar Cliente</h1>
				
					<form class="form-signin" action="ingresarCliente" method="post">
						<label for="input_nombre" class="sr-only">Nombre Cliente</label>
						<input name="nombre" type="text" id="input_nombre" class="form-control" placeholder="Nombre" required autofocus="">
						
						<label for="input_apellido" class="sr-only">Apellido</label>
						<input name="apellido" type="text" id="input_apellido" class="form-control" placeholder="Apellido"  required autofocus="">
						
						<label for="input_direccion" class="sr-only">Direccion</label>
						<input name="direccion" type="text" id="input_direccion" class="form-control" placeholder="Direccion"  autofocus="">
					
					
						<label for="input_teledono" class="sr-only">Telefono</label>
						<input name="telefono" type="text" id="input_telefono" class="form-control" placeholder="Telefono"  autofocus="">
					
						<label for="input_ciudad" class="sr-only">Ciudad</label>
						<input name="ciudad" type="text" id="input_ciudad" class="form-control" placeholder="Ciudad"  autofocus="">
					
						<label for="input_region" class="sr-only">Region</label>
						<input name="region" type="text" id="input_region" class="form-control" placeholder="Region"  autofocus="">
										
						<button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
				      </form>
				    	<c:if test="${not empty msj}">
						    <div class="alert alert-info"> ${msj} </div>
						</c:if>
				</div>
			</div>
		</div>
	</div>
	<style>
		.table-responsive{
			width:50%;
			margin: 0 auto;
		}
		.table-responsive form input{
			margin-bottom:5px;
		}
	</style>
	<jsp:include page="base/footer.jsp" flush="true"></jsp:include>
</body>
</html>